:root {
  /* Fonts */
  --main-family: "Jost", sans-serif;

  /* colors */
  --main-color: #ffffff;
  --title-color: #000000;
  --secondary-color: #b0b0b0;
  --subtitle-color: #ababab;

  --nav-size: 20px;
  --main-title-size: 48px;
  --main-size: 18px;
  --second-title-size: 46px;
  --list-title-size: 22px;
  --footer-title-size: 28px;
  --button-title-size: 17px;
}
